<form method="post" name="menu">
<p><input name="loadMatchesButton" type="button" value="Load Matches" /></p>

<p><input name="loadMapDust" type="submit" value="Load Dust2" />&nbsp; 
<input name="loadMapNuke" type="button" value="Load Nuke" /> &nbsp;
<input name="loadMapMirage" type="button" value="Load Mirage" />&nbsp; 
<input name="loadMapTrain" type="button" value="Load Train" />&nbsp; 
<input name="loadMapOverpass" type="button" value="Load Overpass" />&nbsp;
 <input name="loadMapVertigo" type="button" value="Load Vertigo" />&nbsp; 
 <input name="loadMapInferno" type="button" value="Load Inferno" /></p>
</form>